.edit-page {
  padding: 20px 20px 20px 20px;
  width: 70%;
  margin: auto;
  .error:nth-child(odd) {
    .registration-input {
      border: 2px solid #f44336 !important;
    }
    div {
      color: white;
      text-align: center;
      font-size: 0.8em;
      padding-top: 3px;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
      width: 90px;
      position: absolute;
      background: #778293;
      top: 12px;
      left: -130px;
      border-radius: 5px;
      &::after {
        content: '';
        position: absolute;
        background: url("../../img/registration-page/error.png");
        width: 8px;
        height: 16px;
        top: 7px;
        left: 110px;
      }
    }
  }
  .error:nth-child(even) {
    .registration-input {
      border: 2px solid #f44336 !important;
    }
    div {
      color: white;
      text-align: center;
      font-size: 0.8em;
      padding-top: 3px;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
      width: 90px;
      position: absolute;
      background: #778293;
      top: 12px;
      right: -135px;
      border-radius: 5px;
      &::after {
        content: '';
        position: absolute;
        background: url("../../img/registration-page/error(left).png");
        width: 8px;
        height: 16px;
        top: 6px;
        right: 110px;
      }
    }
  }

  .input-wrapper {
    position: relative;
    margin-bottom: 5px;
    .registration-input {
      height: 45px;
      border: 2px solid #cad3df;
      border-radius: 3px;
      background: #eceff4;
      outline: none;
      padding-left: 20px;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; /* Firefox, other Gecko */
      box-sizing: border-box; /* Opera/IE 8+ */

    }
    textarea {
      width: 100%;
      resize: none;
      height: 100px !important;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  $color: #8493a8;
  ::-webkit-input-placeholder {
    color: $color;
  }
  :-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: $color;
  }

  .link-container {
    text-align: center;

    .forgot-pas-link {
      text-align: center;
      color: rgba(33, 150, 243, 0.95);

    }

    .forgot-pas-link:visited {
      color: rgba(33, 150, 243, 0.95);
    }
  }

  .hat {
    .input-wrapper {
      color: #555555;
      font-size: 20px;
      &:first-child {
        float: left;
        label {
          margin-right: 10px;
        }
      }
      &:nth-child(2) {
        float: right;
        label {
          margin-right: 10px;
        }
      }
    }
  }
  .accordion {
    .ui-accordion-header {
      outline: none;
    }
    .ui-accordion-icons {
      background-image: none;
      background-color: #FeFeFe;
    }
    .ui-accordion-content {
      padding: 25px 29px 25px 29px;
    }
    .images {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      .fancy {
        height: 160px;
        float: left;
        margin: 5px;
        padding: 1px;
        border: 1px solid #F5F4F4;
        box-shadow: 1px 1px 2px #ccc;
        position: relative;
        .delete {
          position: absolute;
          top: 5px;
          right: 5px;
          background: #ffffff;
          width: 22px;
          border-radius: 100%;
          .fa {
            font-size: 22px;
            display: block;
            text-align: center;
            transition: all .05s;
            &:hover {
              cursor: pointer;
              border-radius: 50%;
              box-shadow: 1px 1px 4px #C5C5C5;
              font-size: 23px;
            }
          }
        }
        .image {

        }
      }
      .add-button {
        margin-top: 30px;
        .button {
          text-align: left;
        }
      }
    }
    .elfinder {
      padding: 0;
      margin: 0;
      .error {
        ::after {
          display: none;
        }
      }
    .checklist {
      font-size: 20px;
    }
    .input-wrapper {
      overflow-x: hidden;
      overflow-y: hidden;
      &.field-project-short_description {
        margin-bottom: -3px;
      }
    }
    .for-error {
      display: none;
      &::after {
        display: none;
      }
    }

  }

    .field-project-description {
      //&.error>div {
      //}
      &.error {
        div {
          text-align: center;
          font-size: 0.8em;
          padding-top: unset;
          padding-left: unset;
          padding-right: unset;
          vertical-align: unset;
          width: unset;
          position: unset;
          background: unset;
          top: unset;
          left: unset;
          border-radius: unset;
        }
      }

    }
  }

  .error-summary {
    background: #ECEFF4;
    border: 2px solid #f44336;
    border-radius: 5px;
    margin: 10px auto 10px auto;
    display: table;
    padding: 5px;
    p {
      text-transform: uppercase;
      text-align: center;
    }
    ul {
      padding: 0;
      list-style: none;
    }
  }

  @media (max-width: 1025px) {
    .for-error {
      display: none;
    }
    .error:nth-child(odd) {
      div {
        right: -120px;
        left: auto;
      }
      .for-error {

        &:after {
          content: '';
          position: absolute;
          background: url("../../img/registration-page/error(left).png");
          width: 8px;
          height: 16px;
          top: 6px;
          right: 110px;
          left: auto;
        }
      }
    }
    .hat {
      .input-wrapper {
        .control-label {
          min-width: 100px;
          display: inline-block;
        }
        &:nth-child(2) {
          float: left;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .add-button {
      .button {
        a {
          height: 35px;
        }
      }
    }
  }
}
