.startup-content {
  margin: 0 auto 30px auto;
}
.category-board {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  height: 400px;
  width: 30%;
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(181,181,181,1);
  -moz-box-shadow: 0px 2px 4px 1px rgba(181,181,181,1);
  box-shadow: 0px 2px 4px 1px rgba(181,181,181,1);
  .title {
    height: 18%;
    width: 100%;
    background: #eceff4;
    text-transform: uppercase;
    border-bottom: 1px solid #cad3df;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    p {
      padding-left: 30px;
      padding-top: 7%;
      font-size: 1.4em;
      color: #3d4d65;
      margin-top: 0;
    }
  }
  .list {
    color: #3d4d65;
    position: relative;
    height: 81%;
    .text {
      float: left;
      p {
        float: left;
        margin: 0;
        width: 100%;
      }
    }
    ul {
      list-style: none;
      padding-left: 0;
      li {
        padding: 10px 0 10px 30px;
        height: 50px;
        a {
          div {
            height: 100%;
          }
          width: 100%;
          height: 100%;
          outline: none;
        }
      }
      li:hover {
        background: #eceff4;
      }
    }
    img {
      float: left;
      margin-right: 15px;
    }
  }
}

@media (max-width: 979px) {
  .category-board {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .category-board {
    width: 55%;
    margin-left:  25%;
    margin-right: 25%;
  }
}
