textarea {
  resize: vertical; }

.content-view .content-table {
  width: 100%; }

.content-update {
  width: 300px;
  height: 200px;
  margin: 0 auto; }

.graph textarea, .content-update textarea {
  width: 100%; }
.graph button, .content-update button {
  width: 30%;
  margin: 0 35%; }

/*# sourceMappingURL=main.css.map */
