.editable-block {
  .form-group {
    position: relative;
    font-size: 20px;
    .control-label {
      display: none;
    }
    .editable {
      color: #337ab7;
      background-color: transparent;
      text-decoration: none;
      border-bottom: dashed 1px #0088cc;
      &:hover {
        cursor: pointer;
        outline: 0;
      }
    }
    .popover {
      position: absolute;
      top: -50px !important;
      left: 0;
      z-index: 1060;
      display: none;
      max-width: 276px;
      padding: 1px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      line-height: 1.42857143;
      text-align: left;
      text-decoration: none;
      text-shadow: none;
      text-transform: none;
      letter-spacing: normal;
      word-break: normal;
      word-spacing: normal;
      word-wrap: normal;
      white-space: normal;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border-radius: 6px;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
      line-break: auto;
      border-top-color: rgba(0, 0, 0, .25);
      .arrow {
        position: absolute;
        content: "";
        bottom: -12px;
        left: 50%;
        margin-left: -5.5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 12px 0 12px;
        border-color: #999 transparent transparent transparent;
        &::after {
          position: absolute;
          z-index: 37;
          content: "";
          bottom: 1px;
          left: 50%;
          margin-left: -11px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 11px 11px 0 11px;
          border-color: #ffffff transparent transparent transparent;
        }
      }

      .popover-content {
        padding: 9px 14px;
        .form-inline {
          .input-sm {
            padding: 5px 10px 5px 10px;
            border-radius: 3px;
            border: 1px solid #ccc;
          }
          .editable-buttons {
            button {
              padding: 0 0 0 0;
              border: none;
              background: white;
              &:focus {
                outline: none;
              }
              i {
                font-size: 30px;
              }
            }
            .editable-submit {
              i {
                color: rgba(33, 150, 243, 0.95);
              }
            }
            .editable-cancel {
              i {
                color: rgba(3, 6, 12, 0.95);
              }
            }
          }
        }
      }
    }
  }
}

.with-attribute {
  .form-group {
    .control-label {
      display: inline;
    }
  }
}

.editable-buttons {
  button {
    padding: 0 0 0 0;
    border: none;
    background: white;
    &:focus {
      outline: none;
    }
    i {
      font-size: 30px;
    }
  }
  .editable-submit {
    i {
      color: rgba(33, 150, 243, 0.95);
    }
  }
  .editable-cancel {
    i {
      color: rgba(3, 6, 12, 0.95);
    }
  }
}


