.other-page-content {
  .container {
    max-width: 900px;
    text-align: left;
    color: #54657e;
    h1 {
      color: black;
      text-align: center;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 1.4em;
      padding: 40px 0 20px 0;
    }
  }
  .pages-pagination {
    width: 100%;
    margin: 30px auto 20px auto;
    ul {
      margin: 0 auto;
      padding: 0;
      list-style-type: none;
      text-align: center;
      li {
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
        height: 30px;
        width: 10px;
        a {
          color: #54657e;
          text-decoration: none;
          width: 100%;
          height: 100%;
          outline: none;
          div {
            display: inline;
          }
        }

      }
      .current {
        background: #2196f3;
        border-radius: 50px;
        padding-top: 6px;
        padding-bottom: 6px;
        a {
          color: white;
        }
      }
      li:first-child {
        padding-right: 55px;
      }
      li:last-child {
        padding-left: 55px;
      }
    }
  }
}

@media (max-width: 768px) {
  .other-page-content {
    .pages-pagination {
      margin: 30px auto 0 auto;
      ul {
        li:first-child {
          padding-right: 40px;
        }
        li:last-child {
          padding-left: 40px;
        }
      }
    }
  }

}