$facebook-color: #3b5998;
$vkontakte-color: #45668e;
.content {

}

.registration-form {
  width: 700px;
  margin: 40px auto 0 auto;
  position: relative;
  .error:nth-child(odd) {
    .registration-input {
      border: 2px solid #f44336 !important;
    }
    div {
      color: white;
      text-align: center;
      font-size: 0.8em;
      padding-top: 3px;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
      width: 90px;
      position: absolute;
      background: #778293;
      top: 12px;
      left: -130px;
      border-radius: 5px;
      &::after {
        content: '';
        position: absolute;
        background: url("../../img/registration-page/error.png");
        width: 8px;
        height: 16px;
        top: 7px;
        left: 110px;
      }
    }
  }
  .error:nth-child(even) {
    .registration-input {
      border: 2px solid #f44336 !important;
    }
    div {
      color: white;
      text-align: center;
      font-size: 0.8em;
      padding-top: 3px;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
      width: 90px;
      position: absolute;
      background: #778293;
      top: 12px;
      right: -135px;
      border-radius: 5px;
      &::after {
        content: '';
        position: absolute;
        background: url("../../img/registration-page/error(left).png");
        width: 8px;
        height: 16px;
        top: 6px;
        right: 110px;
      }
    }
  }

  .input-wrapper:nth-child(odd) {
    float: left;
    width: 47%;
    position: relative;
    margin-bottom: 20px;

    .registration-input {
      height: 45px;
      width: 100%;
      border: 2px solid #cad3df;
      border-radius: 3px;
      background: #eceff4;
      outline: none;
      padding-left: 20px;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; /* Firefox, other Gecko */
      box-sizing: border-box; /* Opera/IE 8+ */
    }
    &:nth-child(odd) {
      margin-right: 20px;
    }
  }

  .input-wrapper:nth-child(even) {
    float: left;
    width: 47%;
    position: relative;
    margin-bottom: 20px;
    .registration-input {
      height: 45px;
      width: 100%;
      border: 2px solid #cad3df;
      border-radius: 3px;
      background: #eceff4;
      outline: none;
      padding-left: 20px;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; /* Firefox, other Gecko */
      box-sizing: border-box; /* Opera/IE 8+ */
    }
    &:nth-child(odd) {
      margin-right: 20px;
    }
  }
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #8493a8;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #8493a8;
    opacity: 1;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #8493a8;
    opacity: 1;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #8493a8;
  }
  .registration-select {
    display: inline;
    margin-right: 15px;
    span {
      background: #eceff4;
      border: 1px solid #cad3df;
      color: #8493a8;
      outline: none;
    }
  }
  select {
    width: 47.3% !important;
    height: 45px !important;
  }
  span#ui-id-1-button, span#ui-id-2-button {
    margin-bottom: 20px;
  }

  .link-container {
    text-align: center;

    .forgot-pas-link {
      text-align: center;
      color: rgba(33, 150, 243, 0.95);

    }

    .forgot-pas-link:visited {
      color: rgba(33, 150, 243, 0.95);
    }
  }

  .auth-clients {
    padding-left: 0;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    .auth-link {
      @include btn();
      box-sizing: border-box;
      display: table;
      border: 1px gray solid;
      padding: 0 10px;
      font-size: 15px;
      color: white;
      border-radius: 4px;
      width: 120px;
      &:visited {

      }
      &:hover {
      }
      &.vkontakte {
        background: $vkontakte-color;
      }
      &.facebook {
        background: $facebook-color;
      }
      .auth-icon {
        display: inline-block;
        margin-top: 5px;
        &.vkontakte {
          background: url("../img/icons/vk-white-icon.png");
          background-size: contain;
        }
        &.facebook {
          background: url("../img/icons/fb-white-icon.png");
          background-size: contain;
        }
      }
      .auth-title {
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
      }
    }
  }
}

.ui-menu .ui-menu-item {
  background: #eceff4;
  color: #8493a8;
}

span.ui-icon.ui-icon-triangle-1-s {
  background-image: url("../../img/icons/Arrow_Icon.png");
  background-repeat: no-repeat;
  border: none;
  margin-top: 0 !important;
}

.button {
  text-align: center;
  margin-bottom: 20px;
  button {
    @include btn();
    height: 45px;
    display: inline-block;
    width: 242px;
    padding-top: 0px;
    border: none;
  }

  a {
    @include btn();
    display: inline-block;
    width: 242px;
    padding-top: 10px;
  }
}

@media (max-width: 768px) {

  .registration-form {
    width: 500px;
    select {
      width: 46% !important;
    }
    .registration-input {
      width: 46%;
    }
  }

}

@media (max-width: 550px) {

  .registration-form {
    width: 400px;
    select {
      width: 45% !important;
    }
    .registration-input {
      width: 45%;
    }
  }

}

