.bottom-hero {
  background: url("../img/bottom-hero.jpg") center;
  padding: 60px 0 80px;
  background-size: cover ;
  color: #fff;
  text-align: center;
  @include acromregular();
  .title {
    font-size: 45px;
  }
  .text {
    font-size: 25px;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .button {
    margin-top: 20px;
    text-align: center;
    a {
      @include btn();
      display: inline-block;
      width: 242px;
      padding-top: 10px;
    }
  }
}

/** Mobile **/
@media (max-width: $screen-sm-min) {
  .bottom-hero {

  }
}