@mixin btn() {
  transition: 0.5s all;
  height: 35px;
  font-size: 20px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  &:hover {
    background-color: rgb(30, 127, 205);
  }
  background-color: rgba(33, 150, 243, 0.95);
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 2px rgba(255, 255, 255, 0.5);
  /** Mobile **/
  @media (max-width: $screen-sm-min) {
    height: 40px;
    font-size: 18px;
  }

}


/** Mobile **/
@media (max-width: $screen-sm-min) {
  .no-scroll .content {
    @include blur(1px);
    z-index: 0;
  }
}