footer {
  background-color: #2b3238;
  height: 310px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  > .container {
    padding: 20px 20px 0;
    box-sizing: border-box;
  }
  .basement {
    padding: 20px 20px 0;
    box-sizing: border-box;
    height: 65px;
    background-color: #242a2f;
    .copyright {
      float: left;
      padding-left: 85px;
      @include acromregular();
      color: #959595;
    }
    .socials {
      padding-right: 20px;
      float: right;
      a {
        &:hover {
          opacity: 1;
        }
        transition: opacity 0.3s;
        display: inline-block;
        width: 23px;
        height: 23px;
        margin-right: 14px;
        opacity: 0.7;
        $icons: (youtube, gplus, facebook, twitter);
        @each $icon in $icons {
          &.#{$icon} {
            background: url("../img/icons/#{$icon}.png") center bottom;
            background-size: contain;
          }
        }
      }
    }
  }
  .logo-wrap {
    float: left;
    display: table;
    width: 290px;
    height: 200px;
  }
  .logo {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    @include acrommedium();
    font-size: 30px;
    color: #bdbcbc;
    .name {
      color: #4caf50;
    }
  }
  .columns {
    float: left;
    margin-left: 20px;
    width: 850px;
    .title {
      @include acrommedium();
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
    }
    .links-list {
      list-style: none;
      padding: 0;
      li {
        padding: 5px 0;
      }
      span {
        @include acromregular();
        text-decoration: none;
        color: #959595;
        font-size: 15px;
        cursor: pointer;
        &:hover {
          color: #b8b8b8;
        }
      }
      a {
        @extend span;
        transition: color 0.1s;
      }
      i {
        $icons: (telephone, mail, skype, marker);
        @each $icon in $icons {
          &.#{$icon} {
            background: url("../img/icons/#{$icon}.png") center bottom;
            background-size: contain;
          }
        }
        margin-bottom: -3px;
        margin-right: 2px;
        width: 15px;
        height: 15px;
        display: inline-block;
      }
    }
    .col {
      padding: 20px 15px;
      box-sizing: border-box;
      float: left;
      width: 25%;
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: 854px) {
  footer {
    height: 481px;
  }
  .wrapper-footer {
    padding-bottom: 481px;
  }
}


/** Tablet **/
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  footer {
    > .container {
      padding: 10px 10px 0;
    }
    .logo-wrap {
      width: 20%;
    }
    .columns {
      .col {
        padding-right: 0;
      }
      width: 80%;
      margin: 0;
    }
  }
}

/** Mobile **/
@media (max-width: $screen-sm-min) {
  footer {
    height: 675px;
    > .container {
      width: 100%;
      padding: 10px 10px 0;
    }
    .logo-wrap, .columns {
      width: 100%;
      height: auto;
      padding: 20px 0;
    }

    .basement {
      height: auto;
      padding: 20px 20px 0;
      box-sizing: border-box;
      .copyright {
        width: 100%;
        text-align: center;
        padding-left: 0;
      }
      .socials {
        text-align: center;
        width: 100%;
        padding: 20px 0;
        a {
          margin: 0 10px;
        }
      }
    }
    .columns {
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0 0 10px 0;
      .links-list {
        padding-top: 5px;
        margin: 0;
        li {
          span, a {
            font-size: 18px;
          }
          padding: 0;
        }
      }
      .col {
        width: 100%;
        padding: 15px 0 0;
      }
    }
  }
  .wrapper-footer {
    padding-bottom: 675px;
  }
}