header {
  .main-header {
    height: 105px !important;
    background-image: url("/img/header-bg.jpg");
    background-size: cover;
  }
  .menu-toggle {
    display: none;
  }
  .main-menu {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      float: right;
      li {
        &:hover {
          background: rgba(255, 255, 255, 0.30);
        }
        transition: 0.5s all;
        padding: 15px 0;
        float: left;
        height: 20px;
        a {
          @include light-shadow();
          font-size: 12px;
          padding: 15px 20px 15px 20px;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }
  .logo {
    padding-top: 0px;
    float: left;
    img {
      height: 60px;
    }
  }
}

/** Tablet **/
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  header {
    background-size: auto;
    opacity: 0.8;
    .logo img {
        padding-left: 10px
      }

  }
}

/** Mobile **/
@media (max-width: 1120px) {
  .main-header {
    height: 105px;
  }
  header {
    height: 105px;
    z-index: 100;
    background: #fff;
    .menu-toggle {
      &:hover {
        box-shadow: inset 1px 1px 2px #cdcdcd;
      }
      display: block;
      float: right;
      padding: 12px 20px 11px;
    }
    .main-menu {
      top: 45px;
      width: 100%;
      height: 0;
      background: rgba(34, 34, 34, 0.90);
      &.show {
        z-index: 100;
        display: block;
        overflow: hidden;
      }
      position: absolute;
      display: none;
      ul {
        float: none;
        li {
          float: none;
          padding-top: 10px;
          padding-bottom: 16px;
          a {
            font-size: 20px;
          }
        }
      }
    }
    .logo {
      img {
        height: 40px;
        padding-left: 10px;
      }
      padding-bottom: 0;
    }
  }
}
