.hero {
  background-image: url("/img/header-bg.jpg");
  background-size: cover;
  background-position-y: -50px;
  background-position-x: left;
  .sub-slogan {
    @include acromregular();
    @include light-shadow();
    padding-top: 200px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    span {
    }
  }

  .slogan {
    @include acrombold();
    @include light-shadow();
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    display: table;
    width: 100%;
    span {
      text-align: center;
      display: table-cell;
    }
  }
  .buttons {
    .button {
      @media (min-width: $screen-md-min) {
        &:first-child {
          a {
            float: right;
          }
        }
      }
      padding: 20px 40px;
      box-sizing: border-box;
      float: left;
      width: 50%;
      a {
        @include btn();
        width: 242px;
        display: block;
        padding-top: 10px;
      }
    }
    .button-else {
      width: 100%;
      a {
        float: none !important;
        margin: 0 auto;
      }
    }
  }
}

/** Tablets **/
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .hero {
    background-size: auto;
  }
}

/** Mobile **/
@media (max-width: $screen-sm-min) {
  .hero {
    background-position-y: 0;
    .sub-slogan {
      padding-top: 20px;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .slogan {
      line-height: 1em;
      font-size: 35px;
    }
    .buttons {
      .button {
        &:last-child {
          padding-top: 0;
          padding-bottom: 15px;
        }
        padding-top: 10px;
        padding-bottom: 5px;

        width: 100%;
        a {
          height: 35px;
          margin: 0 auto;
          float: none;
        }
      }
    }
  }
}