$gray_color: #636363;
.info {
  .top-info-text {
    padding: 20px 0;
    text-align: center;
    @include acrommedium();
    font-size: 45px;
  }
  .info-text {
    color: $gray_color;
    text-align: center;
    @include acromregular();
    font-size: 35px;
    p {
      margin-top: 10px;
    }
  }
  .link {
    padding-bottom: 50px;
    width: 100%;
    @include acromregular();
    font-size: 20px;
    text-align: center;
    a {
      color: #2196f3;
    }
  }
  .article-text {
    font-size: 20px;
    font-family: Arial;
    padding: 0 80px;
    p {
      margin-top: 10px;
    }
    ol {
      li {
        padding-bottom: 20px;
      }
    }
    .top-info-text {
      font-size: 35px;
    }
    .img-wrap {
      float: left;
      text-align: center;
      padding: 15px 15px 15px 15px;
      .sub-img {
        text-align: center;
      }
      img {
        width: 150px;
        width: 150px;
      }
    }
  }
}

/** Mobile **/
@media (max-width: $screen-sm-min) {
  .info {
    .top-info-text, .info-text {
      line-height: 1em;
    }
    .info-text {
      padding: 0 20px;
      box-sizing: border-box;
    }
    .article-text {
      padding: 0 20px;
    }
  }
}

