.info-graph {

  /** Desktop **/
  @media (min-width: $screen-md-max) {
    .container {
      padding: 0 180px;
      width: auto;
      max-width: 1200px;
    }
    .text {
      padding-left: 30px;
    }
  }
  .title {
    font-family: Lato;
    font-size: 25px;
  }
  .list ol {
    list-style: none;
    margin-left: 0;
    li {
      font-size: 18px;
      margin-bottom: 10px;
      //&:before {
      //  padding: 2px 2px 1px 7px;
      //  border-radius: 15px;
      //  border: 1px solid rgba(144, 206, 255, 0.60);
      //  margin-left: -30px;
      //  margin-right: 5px;
      //  content: counter(customlistcounter) " ";
      //}
      span {
        //display: inline-block;
        padding: 3px;
        border-radius: 50%;
        border: 1px solid rgba(144, 206, 255, 0.6);
        color: white;
        margin-left: -30px;
        margin-right: 5px;
        position: absolute;
        text-align: center;
        z-index: 1;
        line-height: 1;
        height: 1em; width: 1em;
      }
      //&:hover span {
      //  color: white;
      //
      //}
      counter-increment: customlistcounter;
    }
  }
  .text {
    float: left;
  }
  #info-graph {
    float: right;
    height: 120px;
    width: 300px;
    padding-bottom: 20px;
  }
}

/** Mobile **/
@media (max-width: $screen-sm-min) {
  .info-graph {
    .text {
      float: none;
      width: 95%;
      margin: 0 auto;
      text-align: center;
      padding: 0 10px;
      box-sizing: border-box;
    }
    #info-graph {
      padding: 0 10px;
      box-sizing: border-box;
      width: 100%;
      margin: 0 auto 20px;
      float: none;
    }
  }
}