.popular {
  .title {
    text-align: center;
    @include acrommedium();
    font-size: 30px;
    margin-bottom: 50px;
  }
  .projects {
    &:after {
      content: "";
      height: 20px;
      display: block;
      margin: 0 auto;
      width: 200px;
      border-top: 1px solid #ccc;
    }
    padding: 0 50px;
    .name {
      font-family: Lato;
      padding-top: 15px;
      text-align: center;
      font-weight: 500;
      font-size: 18px;
    }
    .card {
      display: block;
      text-decoration: none;
      color: #222;
      @include stopselect();
      &:hover {
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.75);
        margin-top: 1px;
        margin-bottom: -1px;
      }
      min-height: 360px;
      transition: 0.5s all;
      cursor: pointer;
      position: relative;
      margin: 0 auto;
      width: 272px;
      border-style: solid;
      border-width: 1px;
      box-sizing: content-box;
      border-color: rgb(255, 255, 255);
      border-radius: 3px;
      background-color: rgb(245, 245, 245);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    }
    .cost, .likes {
      &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        right: -20px;
        border-style: solid;
        border-width: 28px 20px 0 0;
        border-color: rgba(33, 150, 243, 0.9) transparent transparent transparent;
      }
      @include acrommedium();
      position: relative;
      display: block;
      float: left;
      font-weight: bold;
      font-size: 18px;
      margin-top: -65px;
      background-color: rgba(33, 150, 243, 0.9);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      padding-right: 10px;
      padding-top: 3px;
      padding-left: 10px;
      color: #fff;
    }
    .likes {
      &:after {
        border-color: rgba(210, 51, 92, 0.9) transparent transparent transparent;
      }
      margin-top: -30px;
      background-color: rgba(210, 51, 92, 0.9);
      .fa {
        margin-right: 5px;
      }
    }

  }
  .thumb {
    img {
      border-radius: 3px 0 0;
    }
  }
  .list {
    padding-left: 10px;
    padding-right: 10px;
    &:after {
      content: '...';
      color: #bcbcc4;
      font-size: 40px;
      display: block;
      margin-top: -40px;
      margin-bottom: -10px;
      text-align: center;
    }
    ul {
      list-style: square;
      padding-left: 30px;
    }
  }
  .col {
    width: 33.33%;
    float: left;
    margin-bottom: 30px;
  }
}

/** Tablet and mobile **/
@media (max-width: $screen-md-max) {

}

/** Tablet **/
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .popular {
    .projects {
      padding: 0 10px;
    }
    .col {
      width: 50%;
    }
  }
}

/** Mobile **/
@media (max-width: $screen-sm-min) {
  .popular {
    .projects {
      padding: 0
    }
    .col {
      width: 100%;
    }
  }
}