.reviews {
  background: #f5f5f5;
  padding-top: 50px;
  .owl-carousel {
    padding: 0 40px;
    box-sizing: border-box;
  }
  .title {
    @include acrommedium();
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .review {
    background: #fff;
    width: 370px;
    padding: 20px 30px;
    box-sizing: border-box;
    min-height: 300px;
    .photo {
      text-align: center;
      img {
        display: inline;
        width: 124px;
        border-radius: 62px;
      }
    }
    .name {
      font-family: Lato;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      margin: 10px 0;
    }
    .text {
      font-family: Lato;
      font-weight: 500;
      font-size: 16px;
      p {
        margin: 0;
      }
    }
  }
}

/** Tablets and mobile **/
@media (max-width: $screen-md-max) {
  .reviews {
    .review {
      width: 100%;
    }
  }
}
