path.slice {
  stroke-width: 2px;
}

polyline {
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

svg text.percent {
  text-anchor: middle;
  font-size: 17px;
  font-weight: bold;
}

svg:not(:root) {
  overflow: visible;
}