.invest-strategy {
  .big-board-list {
    width: 900px;
    margin: 0 auto;
    .big-board {
      float: left;
      width: 30%;
      margin-right: 22px;
      margin-left: 22px;
      text-align: center;
      -webkit-box-shadow: 0px 2px 4px 1px #b5b5b5;
      -moz-box-shadow: 0px 2px 4px 1px #b5b5b5;
      box-shadow: 0px 2px 4px 1px #b5b5b5;
      margin-top: 20px;
      border-radius: 5px;
      position: relative;
      .wrapper {
        &:hover {
          .navi-board {
            display: block;
          }
          img {
            opacity: 1;
          }
        }
        .navi-board {
          position: absolute;
          margin: 45% 22.5%;
          display: none;
          .icon-wrapper {
            width: 40px;
            height: 40px;
            margin: 1.5px;
            background: #424954;
            border: 2px solid white;
            border-radius: 35px;
            float: left;
            img {
              width: 16px;
              height: 16px;
              margin-top: 12px;
            }
          }
        }
      }

      h4 {
        margin-bottom: 0;
      }
      p {
        color: #54657e;
        font-size: 0.9em;
      }
      p:last-child {
        color: black;
      }
      img {
        width: 100%;
        opacity: 0.6;
      }
    }
    .big-board:nth-last-child(2) {
      margin-right: 0;
    }
    .big-board:first-child {
      margin-left: 0;
    }
  }
  .small-board-list {
    width: 900px;
    margin: 0 auto;
    .small-board {
      float: left;
      width: 24%;
      margin-right: 6px;
      margin-left: 6px;
      text-align: center;
      -webkit-box-shadow: 0px 2px 4px 1px #b5b5b5;
      -moz-box-shadow: 0px 2px 4px 1px #b5b5b5;
      box-shadow: 0px 2px 4px 1px #b5b5b5;
      margin-top: 20px;
      border-radius: 5px;
      position: relative;
      .wrapper {
        &:hover {
          .navi-board {
            display: block;
          }
          img {
            opacity: 1;
          }
        }
        .navi-board {
          position: absolute;
          margin: 42% 15.5%;
          display: none;
          .icon-wrapper {
            width: 40px;
            height: 40px;
            margin: 1.5px;
            background: #424954;
            border: 2px solid white;
            border-radius: 35px;
            float: left;
            img {
              width: 16px;
              height: 16px;
              margin-top: 12px;
            }
          }
        }
      }
      img {
        height: 100%;
        width: 100%;
        opacity: 0.6;
      }
      h4 {
        font-size: 0.8em;
        float: left;
        margin-top: 10px;
        margin-left: 15px;
        margin-bottom: 10px;
        color: #3d4d65;
      }
      p {
        color: #54657e;
        font-size: 0.8em;
        float: left;
      }
      .price {
        color: #3d4d65;
        font-size: 0.8em;
        float: left;
        margin-top: 10px;
        margin-left: 15px;
        margin-bottom: 10px;

      }
      .line {
        height: 2px;
        width: 20px;
        float: left;
        background: #cad3df;
        margin-left: 15px;

      }
    }
    .small-board:first-child {
      margin-left: 0;
    }
    .small-board:nth-last-child(2) {
      margin-right: 0;
    }
  }
  .board-list {
    width: 900px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
    .title {
      background: #eceff4;
      height: 70px;
      padding-top: 10px;
      padding-left: 20px;
      border-bottom: 1px solid #cad3df;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      position: relative;
      p {
        color: #3d4d65;
        text-transform: uppercase;
      }
      .navi-arrow {
        position: absolute;
        top: 33%;
        right: 5%;
        input {
          margin-left: 50px;
          outline: none;
        }
      }
    }
    .boards-slider {
      background: #ffffff;
      padding-top: 30px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      img {
        width: 100px;
        height: 100px;
        margin: 0 auto;
      }
      p {
        font-size: 1em;
        text-align: center;
        color: #3d4d65;
      }
      .price {
        text-align: center;
      }
      .owl-controls {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .invest-strategy {
    .big-board-list {
      width: 100%;
      margin-left: 10%;
      margin-right: 10%;
      .big-board {
        width: 40%;
        .wrapper {
          .navi-board {
            .icon-wrapper {
              width: 30px;
              height: 30px;
              img {
                margin-top: 8px;
              }
            }
          }
        }
      }
      .big-board:nth-last-child(2) {
        margin: 20px auto;
      }
    }
    .small-board-list {
      width: 100%;
      margin-left: 5%;
      .small-board {
        width: 30%;
        .wrapper {
          .navi-board {
            .icon-wrapper {
              width: 30px;
              height: 30px;
              img {
                margin-top: 8px;
              }
            }
          }
        }
      }
    }
    .board-list {
      width: 100%;
    }
  }
}

@media (min-width: 769px) and (max-width: 979px) {
  .invest-strategy {
    .big-board-list {
      width: 100%;
    }
    .small-board-list {
      width: 100%;
      .small-board {
        .wrapper {
          .navi-board {
            .icon-wrapper {
              //width: 35px;
              //height: 35px;
            }
          }
        }
      }
    }
    .board-list {
      width: 100%;
    }
  }
}