.add-comment-popup {
  #add-comment {
    overflow: hidden;
    height: 0;
    transition: height, 0.5s, ease-in-out;
    .input-wrapper {
      position: relative;
      margin-top: 20px;
    }
    .registration-input {
      min-height: 150px;
      overflow-y: auto;
      display: block;
      width: 95%;
      margin: auto;
      margin-bottom: 20px;
      border: 2px solid #cad3df;
      border-radius: 3px;
      background: #eceff4;
      outline: none;
      padding: 10px 20px 10px 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .send-button {
      text-align: left;
      margin-left: 19px;
      float: left;
    }
    .fa-arrow-up {
      float: right;
      font-size: 30px;
      color: #3d4d65;
      margin-right: 20px;
      &:hover {
        cursor: pointer;
      }
    }
    .error {
      .registration-input {
        border: 2px solid #f44336 !important;
      }
      div {
        color: white;
        text-align: center;
        font-size: 0.8em;
        padding-top: 3px;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
        width: 90px;
        position: absolute;
        background: #778293;
        bottom: -75px;
        left: 50%;
        margin-left: -45px;
        border-radius: 5px;
        &::after {
          content: '';
          position: absolute;
          background: url("../../img/registration-page/error.png");
          width: 8px;
          height: 16px;
          top: -12px;
          left: 50px;
          transform: rotateZ(-90deg);
        }
      }
    }
  }
}
#comments {
  padding: 0;
}

.instead-empty-message {
  font-size: 18px;
  color: #3D4D65;
  text-align: center;
  margin: 20px;
  padding: 20px 20px 20px 20px;
  background: #eceff4;
  border-radius: 5px;
  border: 2px solid #CAD3DF;
}