.write-message {
  .input-wrapper {
    position: relative;
    margin-top: 8px;
  }
  .registration-input {
    font-family: "PT Sans Narrow";
    float: left;
    min-height: 130px;
    overflow-y: auto;
    display: block;
    width: 61%;
    margin-left: 19px;
    margin-bottom: 8px;
    border: 2px solid #cad3df;
    border-radius: 3px;
    background: #fcfcfc;
    outline: none;
    padding: 10px 10px 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
  }
  .send-button {
    float: right;
    margin-top: 45px;
    margin-right: 19px;
  }
  .error {
    .registration-input {
      border: 2px solid #f44336 !important;
    }
    div {
      color: white;
      text-align: center;
      font-size: 0.8em;
      padding-top: 3px;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
      width: 90px;
      position: absolute;
      background: #778293;
      bottom: -75px;
      left: 50%;
      margin-left: -45px;
      border-radius: 5px;
      &::after {
        content: '';
        position: absolute;
        background: url("../../img/registration-page/error.png");
        width: 8px;
        height: 16px;
        top: -12px;
        left: 50px;
        transform: rotateZ(-90deg);
      }
    }
  }
}