.delete-friend-popup, .delete-project-popup {
  display: none;
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0;
  z-index: 10;
  .popup-content {
    margin:40px auto 0 auto;
    padding:10px;
    width: 350px;
    height: 100px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0 0 10px #000;
    z-index: 100;
    font-size: 1em;
    text-align: center;
    a {
      @include btn();
      display: inline-block;
      width: 150px;
      padding-top: 15px;
      float: right;
      font-size: 0.8em;
      &:last-child {
        float: left;
        background: #FF0000;
        &:hover {
          background: #ED0505;
        }
      }
    }
  }
}
.content {
  .no-friend {
    width: 80%;
    height: 120px;
    border: 2px solid #CAD3DF;
    background: #eceff4;
    color: #3D4D65;
    text-align: center;
    //padding-top: 12% !important;
    border-radius: 5px;
    font-size: 20px;
    margin: 20% auto;
    position: relative;
    p {
      margin: 10% 0;
    }
  }
  .no-list {
    margin: 0 auto;
  }
  .personal-information {
    width: 80%;
    height: 520px;
    position: relative;
    margin: 30px auto 0 auto;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 1px 2px rgba(229, 229, 229, 1);
    -moz-box-shadow: 0px 2px 1px 2px rgba(229, 229, 229, 1);
    box-shadow: 0px 2px 1px 2px rgba(229, 229, 229, 1);
    background: #ffffff;
    .left-block {
      float: left;
      position: relative;
      background: #fff;
      width: 53%;
      height: 100%;
      padding-right: 18px;
      h1 {
        text-transform: uppercase;
        font-size: 2em;
        padding-left: 30px;
        .editable-error-block {
          position: absolute;
          white-space: nowrap;
        }
      }
      .editable-error-block {
        color: #b44030;
        font-size: 0.7em !important;
        text-transform: none !important;
        display: inline;
        width: 100%;
      }

      .tabs {
        width: 100%;
        height: 65%;
        font-size: 1em;
        padding-left: 20px;
        .field-user-photo {
          display: none;
        }
        .change-photo {
          &:hover {
            cursor: pointer;
          }
        }
        ul {
          li {
            .personal-information-text {
              img {
                padding: 1px;
                border: 1px solid #F5F4F4;
                box-shadow: 1px 1px 2px #ccc;
                margin-bottom: 20px;
              }
              .new-friend {
                width: 90%;
                height: 80px;
                border-bottom: 1px solid #ccc;
                padding-top: 10px;
                padding-left: 50px;
                img {
                  height: 60px;
                  float: left;
                }
                .text {
                  font-size: 30px;
                  padding-left: 30px;
                  float: left;
                }
                .fa-check-square {
                  color: rgba(33, 150, 243, 0.95);
                }
                i {
                  font-size: 30px;
                  float: left;
                  margin-left: 20px;
                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
      .tabs ul,
      .tabs li {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      .tabs li p {
        font-size: 1.3em;
        padding-left: 30px;
        vertical-align: middle;
        padding-top: 20px;
        padding-right: 30px;
      }
      .tabs,
      .tabs input[type="radio"]:checked + label {
        position: relative;
      }
      .tabs li,
      .tabs input[type="radio"] + label {
        display: inline-block;
      }
      .tabs li > div,
      .tabs input[type="radio"] {
        position: absolute;
      }
      .tabs li > div,
      .tabs input[type="radio"] {
        border-bottom: solid 1px #ccc;
        border-top: solid 1px #ccc;
      }
      .tabs label {

      }
      .tabs {
        font: normal 11px Arial, Sans-serif;
        color: #404040;
      }
      .tabs li {
        vertical-align: top;
      }
      .tabs li:first-child {
        margin-left: 8px;
      }
      .tabs li > div {
        top: 33px;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px 20px 20px 20px;
        overflow: auto;
        background: #fff;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      .tabs input[type="radio"] + label {
        margin: 0 -5px 0 0;
        padding: 0 18px;
        line-height: 32px;
        background: #fff;
        text-align: center;
        border-radius: 5px 5px 0 0;
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        font-size: 1.5em;
      }
      .tabs input[type="radio"]:checked + label {
        z-index: 1;
        background: #fff;
        border-bottom: solid 2px #d2335c;
        cursor: default;
      }
      .tabs input[type="radio"] {
        opacity: 0;
      }
      .tabs input[type="radio"] ~ div {
        display: none;
      }
      .tabs input[type="radio"]:checked:not(:disabled) ~ div {
        display: block;
      }
      .tabs input[type="radio"]:disabled + label {
        opacity: .5;
        cursor: no-drop;
      }
      .personal-edit {
        height: 20%;
        vertical-align: middle;
        table {
          font-size: 20px;
          margin-left: 10px;
          th {
            border-bottom: 1px solid #ccc;
            padding: 10px;
            font: normal 20px Arial, Sans-serif;
            color: #404040;
          }
          td {
            i {
              font-size: 15px;
              color: #404040;
            }
            border-bottom: 1px solid #ccc;
            padding: 10px;
          }
        }
      }
      .button {
        margin-top: 20px;
        margin-left: 30px;
        text-align: left;
        a {
          @include btn();
          display: inline-block;
          width: 150px;
          padding-top: 10px;
        }
      }
    }
    .right-block {
      float: right;
      position: relative;
      width: 44%;
      overflow: hidden;
      .friends-filter-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: transparent;
        z-index: 1;

        &:hover {
          .friends-filter {
            top: 0;
          }
        }
        .friends-filter {
          position: absolute;
          top: -45px;
          left: 0;
          z-index: 1;
          width: 50%;
          background: #eceff4;
          padding: 10px;
          border-bottom: 1px solid black;
          border-right: 1px solid black;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
          transition: 1s;
          input {
            width: 90%;
          }
        }
      }
      .friends-navi-wrapper {
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 1;
        background: transparent;
        .first-friend-btn, .second-friend-btn {
          a {
            @include btn();
            display: inline-block;
            width: 150px;
            padding-top: 15px;
            font-size: 0.9em;
            font-weight: 500;
          }
        }
        .first-friend-btn {
          float: left;
          position: absolute;
          top: 0;
          left: -30%;
          transition: 0.7s;
          a {

          }

        }
        .second-friend-btn {
          float: right;
          position: absolute;
          top: 0;
          right: -30%;
          transition: 0.7s;
          a {
            background: #da4531;
            &:hover {
              background: #b44030;
            }
          }
        }
        &:hover {
          .first-friend-btn {
            left: 0;

          }
          .second-friend-btn {
            right: 0;

          }
        }
      }

      img {
        width: 525px;
      }
      ul#vertical {
        margin-top: 0;
        a {
          display: block;
          height: 100%;
          background-size: cover !important;
        }
      }
      ul {
        position: relative;
        li {
          a {
            img {
              border: 2px solid white;
              width: 39px;
              height: 50px;
            }
            img:hover {
              border: 2px solid #d2335c;
            }
          }
        }
      }
      ul.lSPager.lSGallery {
        right: 15px;
        top: 26px;
      }
      .lSSlideOuter.vertical {
        padding-right: 0 !important;
      }
      .lSSlideOuter {
        #vertical {
          li {
            div {
              height: 100%;
              background-size: cover !important;
            }
          }
        }
      }
    }

  }
  .personal-list {
    width: 80%;
    position: relative;
    margin: 30px auto 30px auto;
    border: none;
    background: none;
    .list-orders {
      float: left;
      height: 400px;
      width: 30%;
      .title {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 13%;
        background: #eceff4;
        text-align: left;
        p {
          padding-top: 18px;
          padding-left: 30px;
          margin-top: 0;
          text-transform: uppercase;
          font-weight: 500;
        }
        border-bottom: 1px solid #cad3df;
      }
      .bottom-part {
        height: 87%;
        position: relative;
        background: #ffffff;
        -webkit-box-shadow: 0px 2px 1px 2px rgba(229, 229, 229, 1);
        -moz-box-shadow: 0px 2px 1px 2px rgba(229, 229, 229, 1);
        box-shadow: 0px 2px 1px 2px rgba(229, 229, 229, 1);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-top: 20px;
        .ps-scrollbar-y-rail {
          left: 5px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .order {
          height: 340px;

        }
        ul {
          position: relative;
          width: 90%;
          height: 330px;
          background: transparent;
          border: none;
          padding-left: 30px;
          padding-right: 30px;
          li {
            width: 90%;
            position: relative;
            outline: none;
            border: none;
            margin-bottom: 4px;
            margin-top: 2px;
            border-radius: 0;
            background: #ffffff;
            padding-bottom: 2px;
            height: 40px;
            a {
              width: 100%;
              height: 100%;
              outline: none;
              div {
                &::after {
                  position: absolute;
                  content: "";
                  bottom: -3px;
                  left: 0;
                  width: 100%;
                  height: 1px;
                  background: #cad3df;
                }
                &::before {
                  transition: 1s;
                  position: absolute;
                  content: "";
                  width: 12px;
                  height: 6px;
                  top: 43%;
                  right: -15px;
                  background-image: url("../../img/personal-area/Arrow_Icon.png");
                  z-index: 6;
                  opacity: 0.4;
                }
              }
            }
          }
          .ui-state-active {
            a {
              div {
                &::before {
                  -moz-transform: rotate(90deg); /* Для Firefox */
                  -ms-transform: rotate(90deg); /* Для IE */
                  -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
                  -o-transform: rotate(90deg); /* Для Opera */
                  transform: rotate(90deg);
                  opacity: 1;
                }
              }
            }

            &::before {
              position: absolute;
              content: "";
              z-index: 5;
              top: 0;
              right: -29px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 21.5px 0 21.5px 29px;
              border-color: transparent transparent transparent #eceff4;
            }
            &::after {
              position: absolute;
              content: "";
              z-index: 4;
              top: 0;
              right: -39px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 21.5px 0 21.5px 29px;
              border-color: transparent transparent transparent #ffffff;
            }
          }
          .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
            background: #eceff4;
          }
        }
        .show-more-button {
          .button {
            text-align: center;
            font-size: 14px;
            a {
              @include btn();
              display: inline-block;
              width: 80%;
              padding-top: 15px;
              background: white;
              border: 1px solid #cad3df;
              &:hover {
                background-color: #ECEFF4;
              }
              font-size: 14px;
              font-weight: bold;
              color: #8493a8;
              box-shadow: none;
            }
          }
        }
      }

    }
    .list-information {
      float: left;
      height: 400px;
      width: 66%;
      margin-right: -10px;
      background: #ffffff;
      margin-left: 4%;
      position: relative;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      div {
        padding: 0;
      }
      .order-description {
        width: 90%;
        height: 400px;
        float: left;
        .order-desc-image {
          float: left;
          height: 400px;
          position: relative;
          width: 40%;
          background-size: cover !important;
          img {
            background-size: contain;
            height: 100%;
          }
        }
        $width: 50%;
        .order-desc-text {
          float: left;
          font-size: 10px;
          width: $width;
          padding-left: 5%;
          padding-right: 5%;
          height: 80%;
          h1 {
            text-transform: uppercase;
            font-weight: 500;
            color: #3d4d65;
          }
          p {
            color: #647389;
            font-size: 13px;
          }
        }
        .order-bottom-info {
          height: 20%;
          width: $width;
          float: left;
          padding-left: 5%;
          padding-right: 5%;
          p {
            float: left;
            color: #8493a8;
            font-size: 14px;
            margin-bottom: 0;
            margin-top: 28px;
          }
          .buttons {
            float: right;
            .btn {
              display: block;
              margin-top: 5px;
              width: 100%;
              text-align: center;
              float: right;
              border-radius: 28px;
              font-family: Arial;
              color: #000000;
              font-size: 16px;
              background: #ffffff;
              padding: 0px 0px 0px 0px;
              border: solid #555555 2px;
              text-decoration: none;
              outline: none;
              &:hover {
                background: #e8ebed;
                text-decoration: none;
              }
            }
          }
        }
      }
      .order-navi-panel {
        float: right;
        width: 10%;
        background: white;
        height: 400px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        a {
          display: block;
          width: 100%;
          height: 100%;
          outline: none;
        }
        .order-like, .order-comment, .order-delete {
          height: 33.33%;
          border-left: 1px solid #cad3df;
          position: relative;
          &:hover {
            background: #e8ebed;
          }
          p {
            text-align: center;
            padding-top: 75px;
            margin: 0;
          }
          img {
            position: absolute;
            top: 40%;
            right: 40%;
          }
          a {
            position: absolute;
            top: 0;
            left: 0;
            div {
              height: 100%;
              width: 100%;

            }
          }
        }
        .order-like, .order-comment {
          border-bottom: 1px solid #cad3df;
        }
        .order-like {
          a {
            display: block;
            background: url("../../../img/personal-area/red-like.png") no-repeat center;
          }
        }
        .order-comment {
          a {
            display: block;
            background: url("../../../img/personal-area/comment.png") no-repeat center;
          }
        }
        .order-delete {
          a {
            display: block;
            background: url("../../../img/personal-area/delete.png") no-repeat center;
          }
        }
      }
    }
  }
  .ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 12em;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .content {
    .personal-information {

    }
    .personal-list {
      .list-information {
        .order-description {
          .order-desc-text {
            width: 41%;
          }
          .order-bottom-info {
            width: 53%;
            padding-right: 0;
            padding-left: 0;
            padding-top: 15px;
          }
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 979px) {
  .content {
    .personal-information {
      height: inherit;
      .left-block {
        float: none;
        width: 100%;
        padding-right: 0;
        h1 {
          padding-top: 20px;
        }
        .tabs {
          height: 200px;
          padding-left: 0;
        }
      }
      .right-block {
        padding-top: 20px;
        float: none;
        width: 100%;
        ul {
          li {
            a {
              img {
                width: 45px;
              }
            }
          }
        }
        ul.lSPager.lSGallery {
          right: 38px;
          top: 0px;
        }
      }
    }
    .personal-list {
      .list-orders {
        .title {
          p {
            padding-left: 15px !important;
          }
        }
        .bottom-part {
          .order {
            ul {
              width: 80%;
            }
          }
        }
      }
      .list-information {
        .order-description {
          .order-desc-image {
            height: 300px;
          }
          .order-desc-text {
            width: 41%;
          }
          .order-bottom-info {
            width: 85%;
            padding-left: 5%;
            padding-top: 15px;
            padding-right: 5%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    .personal-information {
      height: inherit;
      .left-block {
        float: none;
        width: 100%;
        padding-right: 0;
        h1 {
          padding-top: 20px;
        }
        .tabs {
          height: 200px;
          padding-left: 0;
        }
        .tabs input[type="radio"] + label {
          font-size: 1.3em;
        }
        .tabs input[type="radio"]:checked + label {
          font-size: 1.3em;
        }
      }
      .right-block {
        padding-top: 20px;
        float: none;
        width: 100%;
        .friends-navi-wrapper {
          .first-friend-btn, .second-friend-btn {
            a {
              font-size: 1em;
            }
          }
        }
        ul {
          li {
            a {
              img {
                width: 45px;
              }
            }
          }
        }
        ul.lSPager.lSGallery {
          right: 10px;
          top: 5px;
        }
      }
    }
    .personal-list {
      .list-information {
        .order-description {
          .order-desc-image {
            height: 200px;
          }
          .order-desc-text {
            width: 41%;
            font-size: 0.4em;
            padding-right: 0;
            p {
              font-size: 1.5em;
            }
          }
          .order-bottom-info {
            width: 85%;
            padding-left: 5%;
            padding-top: 15px;
            padding-right: 5%;
            p {
              font-size: 0.7em;
            }
            a {
              font-size: 0.7em !important;
            }
          }
        }
      }
      .order-navi-panel {
        font-size: 0.7em;
        .order-comment-navi {
          padding: 0;
        }
      }
    }
    .list-orders {
      .title {
        p {
          padding-left: 10px !important;
        }
      }
      p {
        font-size: 0.7em;
      }
      .bottom-part {
        .order {
          ul {
            width: 70%;
            font-size: 0.7em;
          }
        }
      }
    }
    .list-information {
      .order-navi-panel {
        .order-like, .order-comment, .order-delete {
          img {
            height: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .content {
    .list-orders {
      .title {
        p {
          padding-left: 10px !important;
        }
      }
      p {
        font-size: 0.6em;
      }
      .bottom-part {
        .order {
          ul {
            padding-left: 15px;
            font-size: 0.5em;
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .content {
    .friends-navi-wrapper {
      div {
        a {
          font-size: 10px !important;
          width: 100px !important;
          height: 20px !important;
        }
      }
    }
    .list-orders {
      .title {
        p {
          font-size: 8px !important;
        }
      }
    }
    .list-information {
      .no-friend {
        p {
          font-size: 16px;
        }
      }
    }
  }
}