.site-error {
  text-align: center;
  padding-bottom: 20px;
  font-family: "acrombold";
  margin-top: -40px;
  .error-wrapper {
    width: 70%;
    margin: 0 auto;
    background: #FAFAFA;
    padding: 30px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  }
}