.wrapper-footer {
  .create-invest-popup {
    display: none;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0;
    z-index: 100;

    .popup-content {
      margin:40px auto 0 auto;
      padding: 0 0 20px 0;
      width: 350px;
      height: 100px;
      background-color: #c5c5c5;
      border-radius:5px;
      box-shadow: 0 0 10px #000;
      z-index: 100;
      font-size: 1em;
      text-align: center;
      p {
        margin-top: 15px;
      }
      a {
        margin-left: 5%;
        margin-top: 25px;
        @include btn();
        display: inline-block;
        width: 150px;
        padding-top: 15px;
        font-size: 0.8em;
        &:last-child {
          float: left;
          background: #FF0000;
          &:hover {
            background: #ED0505;
          }
        }
      }
    }
  }
}
.content {
  background-color: #fafafa;
  margin-top: -60px;
  min-width: 320px;
  .row {
    position: relative;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 70%;
    height: 500px;
    &:before{
      content: "";
      position: absolute;
      height: 500px;
      background-color: #fafafa;
      left: 19%;
      float: left;
      width: 20px;
      z-index: 3;
    }
    .left-thumb {
      position: relative;
      float: left;
      margin-left: 0;
      width: 20%;
      padding-right: 10px;
      height: 100%;
      overflow: auto;
      ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        height: 100%;
        li {
          padding: 15px;
          margin-bottom: 10px;
          &:first-child {
            padding-top: 0;
          }
          a {
            img {
              width: 100%;
              border: 2px solid #fafafa;
              &:hover {
                border: 2px solid orange;
              }
            }
          }
        }
      }
    }
    .right-image {
      width: 75%;
      height: 100%;
      float: right;
      div.desoslide-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .four-arrow {
          position: absolute;
          z-index: 99;
          background: url("../img/idea/4-arrow.png");
          width: 24px;
          height: 24px;
          bottom: 11px;
          right: 8px;
          outline: none;
          border: none;
        }
        img {
          width: 100%;
          height: 100%;
        }
        div {
        }
        div.desoslide-overlay {
          padding: 0;
          width: 100% !important;
          height: 50px !important;
          span {
            padding: 15px;
          }

          .desoslide-controls-wrapper {
          }
          div {
            padding-right: 10px;
            padding-top: 10px;
          }
        }
      }
    }
  }
  .description {
    width: 70%;
    height: 100%;
    position: relative;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 5% auto;
    color: #8c95a5;
    font-family: acromregular;
    margin-bottom: 30px;
    .idea-title {
      float: left;
      text-transform: uppercase;
      font-size: 2em;
      margin: 10px 0;
      width: 50%;
    }
    .price {
      color: #000000;
      font-size: 2em;
      float: right;
      margin-top: 10px;
      ul {
        margin-top: 0px;
        li {
          margin: 0 0 0 10px;
          display: inline-block;
          text-decoration: none;
          &:first-child {
            &::before {
              content: none;
            }
          }
          &::before {
            content: '';
            border-left: 3px solid #2196f3;
            margin-right: 20px;
          }
        }
      }
    }
    .bottom-text {
      margin-bottom: 30px;
      ul {
        list-style: none;
        padding:0;
        margin:0;
        li {
          padding-left: 1em;
          padding-bottom: 5px;
          text-indent: -.7em;
        }
        li:before {
          content: "• ";
          color: #008000;
        }
      }
    }
    .invest-form {
      display: none;
      text-align: center;
      margin: 40px auto 0 auto;
      .input-wrapper {
        display: inline-block;
        .registration-input {
          height: 45px;
          width: 242px;
          border: 2px solid #cad3df;
          border-radius: 3px;
          background: #eceff4;
          outline: none;
          padding-left: 20px;
          -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
          -moz-box-sizing: border-box;    /* Firefox, other Gecko */
          box-sizing: border-box;         /* Opera/IE 8+ */
        }
      }
      .button {
        display: inline-block;
        a {
          font-size: 16px;
          padding-top: 7px;
          height: 45px;
          -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
          -moz-box-sizing: border-box;    /* Firefox, other Gecko */
          box-sizing: border-box;         /* Opera/IE 8+ */
          padding-top: 12px;
        }
      }
    }
  }
  .tabs {
    width: 70%;
    margin: auto;
    border: none;
    background: transparent;
    .ui-tabs-nav {
      padding-bottom: 2px;
      background: #ffffff;
      li {
        border: none;
        padding: 0 18px;
        background: #fff;
        &.ui-tabs-active {
          border-bottom: solid 2px #d2335c;
        }
        .ui-tabs-anchor {
          text-transform: uppercase;
          font: normal 16px Arial, Sans-serif;
          color: #404040;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .tab {
      margin-bottom: 30px;
    }

  }
  .post-list {
    background: #ffffff;

    border-radius: 5px;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.2);
    .post-head {
      text-align: left;
      background: #eceff4;
      border-bottom: 1px solid #cad3df;
      p {
        float: left;
        text-transform: uppercase;
        margin: 0;
        padding: 13px 0 13px 60px;
      }
      .fa-plus {
        float: right;
        cursor: pointer;
        font-size: 30px;
        margin-top: 10px;
        margin-right: 20px;
        color: #3d4d65;
      }
    }
    .success-message {
      display: none;
      .message {
        font-size: 18px;
        color: #3D4D65;
        text-align: center;
        margin: 20px;
        padding: 20px 20px 20px 20px;
        background: #eceff4;
        border-radius: 5px;
        border: 2px solid #CAD3DF;
      }
    }
    .post-menu {
      padding-left: 60px;
      padding-right: 60px;
      // float: left;
      .post-image {
        width: 20%;
        float: left;
        padding: 20px 0;
        .bottom-fon {
          height: 30px;
          width: 140px;
          background: #a93aba;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          p {
            text-transform: uppercase;
            text-align: center;
            color: white;
            font-size: 0.7em;
            margin: 0;
            padding-top: 7px;
          }
        }
      }
      .post-content {
        /* width: 75%;
         float: right; */
        border-top: 1px solid #cad3df;
        padding: 20px 0 0 0;
        //margin-right: 40px;
        p {
          font-size: 0.8em;
          color: #54657e;
        }
        .title {
          text-transform: uppercase;
          font-size: 1em;
          color: #3d4d65;
        }
        .slider-bottom {
          height: 40px;
          width: 100%;
          font-size: 10pt;
          color: #8892a3;
          margin-top: 10px;
          .img-icon {
            width: 50px;
            float: left;
          }
          input {
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 10px;
            outline: none;
          }
          img {
            margin-right: 5px;
          }
          p {
            margin: 0;
            //  margin: 3% 50px 3% 3%;
            float: right;
          }
        }
      }
      &:nth-child(3) {
        .post-content {
          border-top: none;
        }
      }
    }
    .btn-div {
      text-align: center;
      width: 100%;
      float: left;
      margin-top: 20px;
      margin-bottom: 20px;
      span {
        text-transform: uppercase;
        padding: 0;
        margin: 0 0 0 10px;
        font-size: 0.8em;
      }
      .btn-more {
        border-radius: 28px;
        font-family: Arial;
        color: #8493a8;
        font-size: 16px;
        background: #ffffff;
        padding: 10px 20px 10px 20px;
        border: solid #cad3df 2px;
        text-decoration: none;
        outline: none;
      }
      .btn-more:hover {
        background: #e8ebed;
        text-decoration: none;
      }
    }
  }
  .sent-invest-list, .accepted-invest-list {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.2);
    .post-menu {
      padding-left: 60px;
      padding-right: 60px;
      // float: left;
      .post-image {
        width: 20%;
        float: left;
        padding: 20px 0;
        .bottom-fon {
          height: 30px;
          width: 140px;
          background: #a93aba;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          p {
            text-transform: uppercase;
            text-align: center;
            color: white;
            font-size: 0.7em;
            margin: 0;
            padding-top: 7px;
          }
        }
      }
      .post-content {
        /* width: 75%;
         float: right; */
        border-top: 1px solid #cad3df;
        padding: 20px 0 0 0;
        //margin-right: 40px;
        .info {
          float: left;
          p {
            font-size: 0.8em;
            color: #54657e;
          }
          .title {
            text-transform: uppercase;
            font-size: 1em;
            color: #3d4d65;
          }
        }
        .accept-button {
          margin-top: 20px;
          float: right;
          transition: 1s;
          a {
            @include btn();
            display: inline-block;
            width: 150px;
            padding-top: 15px;
            font-size: 18px;
            font-weight: 500;
            background: #04DD04;
            &:hover {
              background: #20B520;
            }
          }
        }
        .slider-bottom {
          height: 40px;
          width: 100%;
          font-size: 10pt;
          color: #8892a3;
          margin-top: 10px;
          .img-icon {
            width: 50px;
            float: left;
          }
          input {
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 10px;
            outline: none;
          }
          img {
            margin-right: 5px;
          }
          p {
            margin: 0;
            //  margin: 3% 50px 3% 3%;
            float: right;
          }
        }
      }
      &:nth-child(3) {
        .post-content {
          border-top: none;
        }
      }
    }
  }
  .post-footer {
    width: 100%;
    height: 200px;
    position: relative;
    background: url("../../img/invest/background.png");
    img {
      width: 100%;
      height: 100%;
    }
    .button {
      margin-top: 80px;
      text-align: center;
      a {
        @include btn();
        display: inline-block;
        width: 242px;
        padding-top: 10px;
      }
    }
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  header {
    opacity: 1;
  }
  .content {
    .row {
      height: 400px;
      &::before{
        height: 400px;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 979px) {
  header {
    opacity: 1;
  }
  .content {
    .row {
      height: 300px;
      &::before{
        height: 300px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header-norm {
    height: auto;
  }
  .content {
    .row {
      height: 250px;
      &::before{
        height: 250px;
      }
    }
  }
}
