.form-fill {
  padding-bottom: 25px;
  margin-bottom: 30px;
  box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.2);
  h1 {
    text-transform: uppercase;
  }
  text-align: center;
  .middle {
    border-top: 1px solid #cad3df;
    height: 200px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0 0 30px 0;
    position: relative;
    .left-side {
      width: 35%;
      float: left;
      input {
        height: 40px;
        margin-top: 25px;
        border-radius: 5px;
        border: 1px solid #cad3df;
      }
      input[type='text'] {
        width: 100%;
        background-color: #eceff4;
        padding-left: 35px;
        box-sizing: border-box;
        height: 45px;
      }
      input[type='submit'] {
        width: 100%;
        background-color: #2196f3;
        color: #ffffff;
        text-transform: uppercase;
        outline: none;
        height: 45px;
      }
      input[type='password'] {
        width: 100%;
        background-color: #eceff4;
        padding-left: 35px;
        box-sizing: border-box;
        height: 45px;
      }
      .input-text {
        position: relative;
        &::after {
          content: '';
          width: 50px;
          height: 50px;
          background: url("../../img/regi-invest/mail.png") no-repeat 7px 7px;
          position: absolute;
          top: 32px;
          left:5px;
        }
      }
      .input-pass {
        position: relative;
        &::after {
          content: '';
          width: 50px;
          height: 50px;
          background: url("../../img/regi-invest/pass.png") no-repeat 7px 7px;
          position: absolute;
          top: 32px;
          left:5px;
        }
      }
    }
    .or {
      float: left;
      height: 70%;
      background-color: #cad3df;
      width: 1px;
      left: -6px;
      margin-left: 48%;
      position: absolute;
      margin-top: 33px;
      p {
        color: #8493a8;
        margin: 0;
        position: absolute;
        top: 40%;
        left: -11px;
        background: #ffffff;
      }
    }
    .right-side {
      float: right;
      width: 35%;
      .facebook {
        background: #3b5998;
      }
      .twitter {
        background: #55acee;
      }
      .google {
        background: #dc4838;
      }
      button {
        height: 45px;
        margin-top: 25px;
        border: transparent;
        color: white;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        i {
          float: left;
          padding-left: 10px;
          img {
            padding-top: 4px;
            float: left;
            height: 16px  ;
          }
        }
      }
    }
  }
  .bottom-text {
    color: #8493a8;
    font-size: 0.8em;
    border-top: 1px solid #cad3df;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .form-fill {
    .middle {
        height: 440px;
        .left-side {
        float: none;
        margin: 0 auto;
        width: 100%;
      }
      .or {
        float: none;
        height: 1px;
        width: 100%;
        margin: 25px 0 25px 0;
        p {
          top: -10px;
          left: 48%;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .right-side {
        float: none;
        margin: 30px auto;
        width: 100%;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 979px) {
  .form-fill {
    .middle {
      .right-side {
        button {
          font-size: 0.8em;
        }
      }
    }
  }
}