/*.content {
  width: 100%;
  .post-list {
    background: #ffffff;
    position: relative;
    top: 20px;
    border-radius: 5px;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.2);

    .post-head {
      text-align: left;
      background: #eceff4;
      border-bottom: 1px solid #cad3df;
      p {
        float: left;
        text-transform: uppercase;
        margin: 0;
        padding: 13px 0 13px 60px;
      }
      .fa-plus {
        float: right;
        cursor: pointer;
        font-size: 30px;
        margin-top: 10px;
        margin-right: 20px;
        color: #3d4d65;
      }
    }
    .success-message {
      display: none;
      .message {
        font-size: 18px;
        color: #3D4D65;
        text-align: center;
        margin: 20px;
        padding: 20px 20px 20px 20px;
        background: #eceff4;
        border-radius: 5px;
        border: 2px solid #CAD3DF;
      }
    }
    .post-menu {
      padding-left: 60px;
      padding-right: 60px;
      // float: left;
      .post-image {
        width: 20%;
        float: left;
        padding: 20px 0;
        .bottom-fon {
          height: 30px;
          width: 140px;
          background: #a93aba;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          p {
            text-transform: uppercase;
            text-align: center;
            color: white;
            font-size: 0.7em;
            margin: 0;
            padding-top: 7px;
          }
        }
      }
      .post-content {
        border-top: 1px solid #cad3df;
        padding: 20px 0 0 0;
        //margin-right: 40px;
        p {
          font-size: 0.8em;
          color: #54657e;
        }
        .title {
          text-transform: uppercase;
          font-size: 1em;
          color: #3d4d65;
        }
        .slider-bottom {
          height: 40px;
          width: 100%;
          font-size: 10pt;
          color: #8892a3;
          margin-top: 10px;
          .img-icon {
            width: 50px;
            float: left;
          }
          input {
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 10px;
            outline: none;
          }
          img {
            margin-right: 5px;
          }
          p {
            margin: 0;
            //  margin: 3% 50px 3% 3%;
            float: right;
          }
        }
      }
      &:nth-child(3) {
        .post-content {
          border-top: none;
        }
      }
    }
    .btn-div {
      text-align: center;
      width: 100%;
      float: left;
      margin-bottom: 20px;
      span {
        text-transform: uppercase;
        padding: 0;
        margin: 0 0 0 10px;
        font-size: 0.8em;
      }
      .btn-more {
        border-radius: 28px;
        font-family: Arial;
        color: #8493a8;
        font-size: 16px;
        background: #ffffff;
        padding: 10px 20px 10px 20px;
        border: solid #cad3df 2px;
        text-decoration: none;
        outline: none;
      }
      .btn-more:hover {
        background: #e8ebed;
        text-decoration: none;
      }
    }
  }
  .post-footer {
    width: 100%;
    height: 200px;
    float: left;
    position: relative;
    background: url("../../img/invest/background.png");
    img {
      width: 100%;
      height: 100%;
    }
    .button {
      margin-top: 80px;
      text-align: center;
      a {
        @include btn();
        display: inline-block;
        width: 242px;
        padding-top: 10px;
      }
    }
  }
}

.invest-footer {
  padding-bottom: 0;
}
*/

@media (min-width: 980px) and (max-width: 1199px) {
  .content {
    .post-list {
      .post-menu {
        .post-content {
          // width: 65%;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 979px) {
  .content {
    .post-list {
      .post-menu {
        .post-content {
          //  width: 55%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    .post-list {
      .post-menu {
        .post-image {

        }
        .post-content {
          // float: left;
          padding-top: 0;
          padding-bottom: 10px;
          // width: 90%;
          margin-right: 0;
          // border-top: none;
        }
      }
    }
  }
}