.content-view {
  .content-table {
    width: 100%;
  }
}
.content-update {
  width: 300px;
  height: 200px;
  margin: 0 auto;
}
.graph, .content-update {
  textarea {
    width: 100%;
  }
  button {
    width: 30%;
    margin: 0 35%;
  }
}