header {
  .bg2 {
    background-color: #ffffff;
    margin: 0 auto 50px auto;
  }

  .top {
    padding-top: 15px;
  }

  .search {
    background-image: url("/img/icons/Loupe_Icon.png");
    opacity: 1;
    width: 20px;
    height: 20px;
  }

  .my-nav-bar {
    padding: 15px 0px 0px 10%;
    display: inline;
    width: 80%;

    .img-search {
      padding-bottom: 10px;
      padding-left: 15px;
      width: 20px;
      height: 20px;
      outline: none;
    }
  }

  .category-menu {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      float: right;
      li {
        &:hover {
          background-color: #F1F1F1;
        }
        transition: 0.5s all;
        padding: 15px 0;
        float: left;
        height: 20px;
        a {
          font-size: 12px;
          font-family: "Lato Medium";
          color: #000000;
          padding: 15px 20px 15px 20px;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }

  .category-title {
    float: left;
    width: 100%;
    height: 60px;
    position: relative;
    text-align: center;

    span {
      background: #ffffff;
      padding: 10px;
      text-transform: uppercase;
    }


    .line {
      width: 100%;
      height: 30px;
      border-bottom: 1px solid;
      margin-bottom: -10px;
      border-color: #cad3df;
    }
  }
  .styled-select select{
    padding: 5px;
    font-family: "Lato Medium";
    width: 200px;
    height: 47px;
  }
  .styled-select {
    display: inline;
    span {
      border: none;
      outline: none;
      span {
        background: #eceff4;
        border: 1px solid #cad3df;
        color: #8493a8;
        outline: none;
      }
    }
  }
}

.ui-menu .ui-menu-item {
  background: #eceff4;
  color: #8493a8;
}

span.ui-icon.ui-icon-triangle-1-s {
  background-image: url("../../img/icons/Arrow_Icon.png");
  background-repeat: no-repeat;
  border: none;
  margin-top: 0 !important;
}

.ui-select-menu {
  ul {
    .ui-menu-item {
      background: #eceff4;
    }
  }
}

@media (max-width: 1200px) {
  header {
    width: 100%;
  }
}

@media (max-width: 1120px) {
  header {
    height: 275%;
    .top {
      padding:0;
    }
    .category-menu {
      top: 45px;
      width: 100%;
      height: 0;
      background: rgba(250, 250, 250, 0.90);
      color: #000000;
      &.show {
        z-index: 100;
        display: block;
        overflow: hidden;
      }
      position: absolute;
      display: none;
      ul {
        float: none;
        li {
          &:hover {
            background: rgba(155, 155, 155, 1);
          }
          float: none;
          padding-top: 10px;
          padding-bottom: 16px;
          a {
            font-size: 20px;
          }
        }
      }
    }

    .my-nav-bar {
      display: block;
      padding: 15px 15% 25px 0;
    }
  }
}

@media (max-width: 768px) {
  header {
    height: 300px;
    .styled-select {
      padding-left: 40%;
    }
  }
}

@media (min-width: 769px) and (max-width: 979px) {
  header {
    .my-nav-bar {
      display: block;
      padding: 10px 25% 10px 25%;
    }
    .top {
      padding-left: 3%;
      padding-right: 3%;
    }
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  header {
    .my-nav-bar {
      display: block;
      padding: 10px 15% 10px 15%;
      .styled-select {
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1365px) {
  header {
    .my-nav-bar {
      padding: 10px 0 10px 10%;
      display: block;
    }
  }
}

