body {
  background-color: #ffffff;
}

.category-content {
  background-color: #fafafa;
  padding-top: 20px;
}

.overflow {
  height: 200px;
}

.block {
  width: 80%;
  min-width: 400px;
  background-color: #ffffff;
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, .2);
  margin-bottom: 10px;
  &:nth-child(even) {
    float: right;
    padding-right: 5%;
    .img-block {
      float: left;
      &::before {
        content: '';
        width: 13px;
        height: 100%;
        background-image: url("../../img/category/white-line-arrow2.png");
        position: absolute;
        right: -6px;
        top: 0;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &:nth-child(odd) {
    float: left;
    padding-left: 5%;
    .img-block {
      &::before {
        content: '';
        width: 13px;
        height: 100%;
        background-image: url("../../img/category/white-line-arrow.png");
        position: absolute;
        top: 0;
        left: 0;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

.text-1 {
  float: left;
  text-align: left;
  width: 50%;
}

.text-2 {
  float: right;
  text-align: right;
  width: 60%;
}

.cust-title {
  text-transform: uppercase;
  text-align: center;
}

.img-block {
  img {
    width: 100%;
    height: 100%;
  }
  width: 320px;
  height: 100%;
  float: right;
  position: relative;

}

@media (max-width: 768px) {
  .text-1 {
    width: 40%;
    font-size: 0.6em;
  }

  .text-2 {
    width: 40%;
    font-size: 0.6em;
  }

  .img-block {
    width: 220px;
  }
  .block {
    &:nth-child(even) {
      .img-block {
        &::after {
          left: 94%;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 979px) {
  .text-1 {
    width: 40%;
    font-size: 0.9em;
  }

  .text-2 {
    width: 40%;
    font-size: 0.8em;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .text-1 {
    width: 50%;
    font-size: 0.9em;
  }

  .text-2 {
    width: 50%;
    font-size: 0.8em;
  }
}

  @media (max-width: 478px) {
  .block {
    &:nth-child(even) {
      .img-block {
        &::after {
        }
      }
    }
  }
}
@import "header";
@import "slider";