.slider-big-item {
  position: relative;
  width: 80%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20px auto 10px auto;
  border: 1px solid #e5e5e5;
  background-color: #ffffff ;
  border-radius: 10px;
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, .2);

  img {
    height: 100%;
  }

  .left-img {
    float: left;
    height: 100%;
    position: relative;
    img {

    }
    .big-image {
      width: 128%;
    }
    .blue-line {
      position: absolute;
      width: 60%;
      height: 30px;
      top: 84%;
      left: 68%;
      opacity: 0.8;
    }
    .blue-line-text {
      position: absolute;
      width: 60%;
      height: 30px;
      top: 84%;
      left: 50%;
      text-align: right;
      color: #ffffff;
      font-size: 1.3em;
//      padding-right: 30%;
    }
  }

  .right-block {
    float: right;
    width: 65%;
    position: relative;
    height: 500px;
    .slider-title {
      text-align: left;
      text-transform: uppercase;
    }

    .slider-content {
      padding-left: 5%;
      padding-right: 5%;
      .btn {
        border-radius: 28px;
        font-family: Arial;
        color: #8493a8;
        font-size: 16px;
        background: #ffffff;
        padding: 10px 20px 10px 20px;
        border: solid #cad3df 2px;
        text-decoration: none;
        outline: none;
      }

      .btn:hover {
        background: #e8ebed;
        text-decoration: none;
      }
    }

    .avatar {
      padding-top: 5%;
      padding-left: 5%;
      padding-bottom: 3%;
      display: block;
      &::after {
        content: '';
        width: 78px;
        height: 78px;
        position: absolute;
        top: -3px;
        left: -3px;
        background: linear-gradient(#a542d8,#1289d8);
        z-index: 1;
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 3%;
        border-radius: 46px;
      }
      img {
        margin-right: 5%;
        height: 71px;
        width: 71px;
        border-radius: 36px;
        z-index: 5;
        position: relative;
      }
    }

  }
  .slider-bottom {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    font-size: 10pt;
    color: #8892a3;
    margin-top: 10px;
    padding-top: 15px;
    .img-icon {
      padding-top: 10px;
      width: 50px;
      float: left;
      padding-left: 20px;
    }

    input {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 10px;
      outline: none;
    }
    img {
      margin-right: 5px;
    }
    p {
      margin: 3% 150px 3% 3%;
      float: right;
    }
  }
}


.own-slider {
  position: relative;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  padding-bottom: 1%;
  margin: 20px auto 10px auto;
  background: #eceff4;
  background: linear-gradient(to top, #eceff4, #fafafa);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .2);
  .slider {
    width: 70%;
    margin: 20px auto 10px auto;
    display: block;
    font-size: 0.9em;
    .item-img {
      margin: 0;
      display: inline;
      img {
        float: left;
        height: 70px;
        width: 70px;
        margin: 0 5px 0 0;
      }
    }

    .bottom-text {
      margin:0;
      font-size: 0.8em;
      color: #8892a3;
      position: absolute;
      right: 65px;
      bottom: 0;
    }

    .item-img-content {
      position: relative;
      p {
        margin: 0;
        font-size: 0.9em;
      }
    }
  }

  .prev-arrow {
    position: absolute;
    top:36%;
    left: 11%;
    outline: none;
  }
  .next-arrow {
    position: absolute;
    top: 36%;
    right: 11%;
    float:right;
    outline: none;
  }
  .owl-controls {
    display: none;
  }
}

@media (max-width: 768px) {
  .slider-big-item {
    width: 300px;
    .left-img {
      .big-image {
        width: 100%;
        border-radius: 5px;
      }
      .blue-line {
        width: 51%;
        left: 49%;
      }
      .blue-line-text {
        left: 30%;
      }
      width: 100%;
    }
    .right-block {
      width: 100%;
      .slider-title {
        font-size: 0.8em;
      }
      p {
        font-size: 0.6em;
      }
      .slider-bottom {
        p {
          margin-top: 5%;
          margin-right: 10px;
        }
      }
    }
  }
  .avatar {
    .avatar-label{
      img {
        height: 60%;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 979px) {
  .slider-big-item {
    width: 400px;
    .left-img {
      .big-image {
        width: 100%;
        border-radius: 5px;
      }
      .blue-line {
        width: 51%;
        left: 49%;
      }
      .blue-line-text {
        left: 22%;
      }
      width: 100%;
    }

    .right-block {
      width: 100%;
      .slider-title {
        font-size: 0.9em;
      }
      p {
        font-size: 0.8em;
      }
      .slider-bottom {
        p {
          margin-top: 5%;
          margin-right: 10px;
        }
      }
    }
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .slider-big-item {
    .left-img {
      height: 90%;
    }

    .right-block {
      margin-left: 50px;
      width: 58%;
      p {
        font-size: 0.8em;
      }
      .slider-bottom {
        margin-left: 20px;
      }
    }
  }
}