.registration-form {
  .col-lg-5 {
    div {
      &:nth-child(3) {
        margin-right: 40% !important;
      }
      &:nth-child(4) {
        margin-right: 80% !important;
        width: 100%;
        textarea {
          padding-top: 10px;
        }
      }
    }
  }
}