.search {
  .bg2 {
    background-color: #ffffff;
    margin: 0 auto 50px auto;
  }

  .top {
    padding-top: 15px;
  }

  .sort-form {
    padding: 0 95px;
  }

  .search-button {
    float: left;
    .search {
      border: none;
      background: url("/img/icons/Loupe_Icon.png") no-repeat center center, transparent;
      opacity: 1;
      width: 40px;
      height: 40px;
    }
  }

  .my-nav-bar {
    display: inline;
    width: 80%;

    .img-search {
      padding-bottom: 10px;
      padding-left: 15px;
      width: 20px;
      height: 20px;
      outline: none;
    }
  }

  .category-menu {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      float: right;
      li {
        &:hover {
          background-color: #F1F1F1;
        }
        transition: 0.5s all;
        padding: 15px 30px 15px 30px;
        float: left;
        height: 20px;
        a {
          font-size: 16px;
          font-family: "Lato Medium";
          color: #000000;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }

  .category-title {
    float: left;
    width: 100%;
    height: 60px;
    position: relative;
    text-align: center;

    span {
      background: #ffffff;
      padding: 10px;
      text-transform: uppercase;
    }

    .line {
      width: 100%;
      height: 30px;
      border-bottom: 1px solid;
      margin-bottom: -10px;
      border-color: #cad3df;
    }
  }

  .styled-select select {
    padding: 5px;
    font-family: "Lato Medium";
    width: 200px;
    height: 47px;
  }

  .styled-select {
   float: left;
    width: 200px;
    margin-right: 35px;
    span {
      border: none;
      outline: none;
      span {
        background: #eceff4;
        border: 1px solid #cad3df;
        color: #8493a8;
        outline: none;
      }
    }
  }


  .ui-menu .ui-menu-item {
    background: #eceff4;
    color: #8493a8;
  }

  span.ui-icon.ui-icon-triangle-1-s {
    background-image: url("../../img/icons/Arrow_Icon.png");
    background-repeat: no-repeat;
    border: none;
    margin-top: 0 !important;
  }

  .ui-select-menu {
    ul {
      .ui-menu-item {
        background: #eceff4;
      }
    }
  }


  @media (max-width: 1200px) {
    header {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    header {
      height: 275%;
      .top {
        padding: 0;
      }
      .category-menu {
        top: 45px;
        width: 100%;
        height: 0;
        background: rgba(250, 250, 250, 0.90);
        color: #000000;
        &.show {
          z-index: 100;
          display: block;
          overflow: hidden;
        }
        position: absolute;
        display: none;
        ul {
          float: none;
          li {
            &:hover {
              background: rgba(155, 155, 155, 1);
            }
            float: none;
            padding-top: 10px;
            padding-bottom: 16px;
            a {
              font-size: 20px;
            }
          }
        }
      }

      .my-nav-bar {
        display: block;
        padding: 15px 15% 25px 0;
      }
    }
  }

  @media (max-width: 768px) {
    header {
      height: 300px;
      .styled-select {
        padding-left: 40%;
      }
    }
  }

}
