.friend-list {
  float: left;
  height: 400px;
  width: 24%;
  margin-right: 2%;
  .title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 13%;
    background: #eceff4;
    text-align: left;
    border: 1px solid #cad3df;
    -webkit-box-shadow: 0px 2px 1px 2px rgba(229,229,229,1);
    -moz-box-shadow: 0px 2px 1px 2px rgba(229,229,229,1);
    box-shadow: 0px 2px 1px 2px rgba(229,229,229,1);
    p {
      font-size: 17px;
      font-family: "Lato Medium";
      padding-top: 18px;
      padding-left: 30px;
      margin-top: 0;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
  .bottom-part {
    height: 85%;
    border: 1px solid #cad3df;
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 1px 2px rgba(229,229,229,1);
    -moz-box-shadow: 0px 2px 1px 2px rgba(229,229,229,1);
    box-shadow: 0px 2px 1px 2px rgba(229,229,229,1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    &::before {
      position: absolute;
      z-index: 7;
      content: "";
      width: 100%;
      height: 20px;
      background: #ffffff;
      top: 0;
      left: 0;
    }
    ul {
      position: relative;
      margin: 0;
      width: 90%;
      height: 285px;
      overflow: hidden;
      background: transparent;
      border: none;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      .ps-scrollbar-y-rail {
        left: 10px;
        margin-top: 20px;
      }
      li {
        width: 90%;
        position: relative;
        outline: none;
        border: none;
        margin-bottom: 4px;
        margin-top: 2px;
        border-radius: 0;
        background: #ffffff;
        padding-bottom: 2px;
        height: 40px;
        list-style: none;
        a {
          display: block;
          width: 100%;
          height: 100%;
          padding-top: 12px;
          padding-left: 10px;
          outline: none;
          text-decoration: none;
          font-family: "Lato Medium";
          color: #000000;
          &:active {
            color: #2d2d2d;
          }
          &::after {
            position: absolute;
            content: "";
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 1px;
            background: #cad3df;
          }
          &::before {
            transition: 1s;
            position: absolute;
            content: "";
            width: 12px;
            height: 6px;
            top: 43%;
            right: -15px;
            background-image: url("../../img/personal-area/Arrow_Icon.png");
            z-index: 6;
            opacity: 0.4;
          }
        }
      }
      .active-item {
        a {
          &::before {
            -moz-transform: rotate(90deg); /* Для Firefox */
            -ms-transform: rotate(90deg); /* Для IE */
            -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
            -o-transform: rotate(90deg); /* Для Opera */
            transform: rotate(90deg);
            opacity: 1;
          }
        }
        &::before {
          position: absolute;
          content: "";
          z-index: 5;
          top:0;
          right: -38px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 21.5px 0 21.5px 39px;
          border-color: transparent transparent transparent #eceff4;
        }
        &::after {
          position: absolute;
          content: "";
          z-index: 4;
          top:0;
          right: -45px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 21.5px 0 21.5px 40px;
          border-color: transparent transparent transparent #ffffff;
        }
      }
      .active-item {
        background: #eceff4;
      }
    }
  }
}

.message-block {
  width: 74%;
  float: left;
  .chat {
    .title {
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 13%;
      background: #eceff4;
      text-align: left;
      border: 1px solid #cad3df;
      -webkit-box-shadow: 0px 2px 1px 2px rgba(229,229,229,1);
      -moz-box-shadow: 0px 2px 1px 2px rgba(229,229,229,1);
      box-shadow: 0px 2px 1px 2px rgba(229,229,229,1);
      p {
        font-size: 17px;
        font-family: "Lato Medium";
        text-align: center;
        padding-top: 18px;
        margin-top: 0;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
    .messages-place {
      padding-top: 10px;
      padding-bottom: 15px;
      width: 100%;
      height: 500px;
      margin-bottom: 30px;
      border: 1px solid #cad3df;
      background: #ffffff;
      -webkit-box-shadow: 0px 2px 1px 2px #e5e5e5;
      -moz-box-shadow: 0px 2px 1px 2px #e5e5e5;
      box-shadow: 0px 2px 1px 2px #e5e5e5;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      .messages {
        width: 94%;
        margin: auto;
        background: #eceff4;
        border-radius: 3px;
        border: 2px solid #cad3df;
      }
      .friend-message {
        position: relative;
        overflow: hidden;
        height: 350px;
        box-sizing: border-box;
        padding: 10px 30px 10px 20px;
        .ps-scrollbar-y-rail {
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .message-from, .message-to {
          font-family: "PT Sans Narrow";
          font-size: 18px;
          border-radius: 10px;
          border: 3px solid rgba(202, 211, 223, 0.89);
          padding: 0 10px 10px 10px;
          position: relative;
          margin-bottom: 10px;
          max-width: 450px;
          .time {
            font-size: 12px;
            text-align: right;
            height: 10px;
          }
        }
        .message-from {
          background: #cee2fc;
          float: right;
          margin-left: 362px;
          &::before {
            position: absolute;
            z-index: 2;
            content: "";
            right: -15px;
            bottom: 8px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 15px;
            border-color: transparent transparent transparent #cee2fc;
          }
          &::after {
            position: absolute;
            z-index: 1;
            content: "";
            right: -22px;
            bottom: 3px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 10px 22px;
            border-color: transparent transparent transparent rgba(202, 211, 223, 0.89);
          }
        }
        }
        .message-to {
          background: #fcfcfc;
          float: left;
          //margin-right: 330px;
          margin-right: 362px;
          &::before {
            position: absolute;
            z-index: 2;
            content: "";
            left: -15px;
            bottom: 8px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 15px 5px 0;
            border-color: transparent #fcfcfc transparent transparent;
          }
          &::after {
            position: absolute;
            z-index: 1;
            content: "";
            left: -21px;
            bottom: 4px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 21px 9px 0;
            border-color: transparent rgba(202, 211, 223, 0.89) transparent transparent;
          }
      }
      .write-message {
        height: 150px;
        background: #CFDEF7;
        border-top: 2px solid #cad3df;
        .comment-form {
          .send-button {
            width: 30%;
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 979px) {
  .friend-list {
    .title {
      p {
        font-size: 0.8em;
      }
    }
    .bottom-part {
      ul {
        width: 80%;
        li {
          a {
            //font-size: 0.6em;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .friend-list {
    .title {
      p {
        font-size: 0.8em;
      }
    }
    .bottom-part {
      ul {
        width: 70%;
        padding-left: 15px;
        li {
          a {
            font-size: 0.6em;
          }
        }
      }
    }
  }
  .message-block {
    .chat {
      .messages-place {
        .comment-form {
          textarea {
            width: 90%;
            min-height: 90px;
          }
        }
      }
    }
  }
  .write-message {
    .comment-form {
      .send-button {
        margin-right: 10%;
        width: 80% !important;
        button.button.send-ajax {
          font-size: 12px;
          padding-top: 3px;
        }
        margin-top: 5px;
      }
    }
  }

}

@media (max-width: 600px) {
  .friend-list {
    .title {
      p {
        font-size: 0.8em;
      }
    }
    .bottom-part {
      ul {
        padding-left: 10px;
        li {
          a {
            font-size: 0.6em;
          }
        }
      }
    }
  }
  .write-message {
    .comment-form {
      .send-button.button {
        button.button.send-ajax {
          font-size: 10px;
        }
        margin-right: 10%;
        width: 80% !important;

      }
    }
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .friend-list {
    .title {
      p {
        font-size: 9px;
      }
    }
    .bottom-part {
      ul {
        padding-left: 10px;
        li {
          a {
            font-size: 0.6em;
          }
        }
      }
    }
  }
  .write-message {
    .comment-form {
      .send-button.button {
        button.button.send-ajax {
          font-size: 7px;
        }
        margin-right: 10px;
        width: 25% !important;
      }
    }
  }
}
